In [1]:
%%time
import pandas as pd
import warnings
warnings.simplefilter("ignore")
df = pd.read_excel('C:/1차data/16세부품목.xlsx', engine="openpyxl")
df

Wall time: 5min 47s

         고객번호    분기  상품분류  구매횟수       총구매액
0           1  14_1   가구류   1.0   174817.0
1           1  14_3   가구류   2.0    72127.0
2           1  14_4   가구류  10.0  4173806.0
3           1  15_1   가구류   1.0    86471.0
4           1  15_2   가구류   2.0   527324.0
...       ...   ...   ...   ...        ...
870170  19382  15_1  의류잡화   5.0    82629.0
870171  19382  15_2  의류잡화   2.0    87932.0
870172  19382  15_2   화장품   8.0    72972.0
870173  19383  15_2   식료품   3.0     4289.0
870174  19383  15_2   화장품   2.0    24664.0

[870175 rows x 5 columns]

In [2]:
pdf = pd.pivot_table(df,
                     index = '고객번호', # 행 위치에 들어갈 열
                     columns = ['분기','상품분류'], # 열 위치에 들어갈 열
                     values = ['총구매액'], # 데이터로 사용할 열
                     aggfunc = 'max') # 데이터 집계 함수
pdf

           총구매액                                                        \
분기         14_1
상품분류        가구류     고급식료품        기타       기호품 도서음반       레저취미 문구류 사치품
고객번호
1      174817.0  846288.0  116561.0  159810.0  NaN   631026.0 NaN NaN
2      497341.0       NaN  380141.0   25192.0  NaN  2159341.0 NaN NaN
3           NaN       NaN       NaN  155182.0  NaN        NaN NaN NaN
4           NaN       NaN   12793.0    8856.0  NaN        NaN NaN NaN
5           NaN  232778.0   53729.0  150659.0  NaN    62074.0 NaN NaN
...         ...       ...       ...       ...  ...        ...  ..  ..
19379       NaN       NaN       NaN       NaN  NaN        NaN NaN NaN
19380       NaN       NaN       NaN       NaN  NaN        NaN NaN NaN
19381       NaN       NaN       NaN       NaN  NaN        NaN NaN NaN
19382       NaN       NaN       NaN       NaN  NaN        NaN NaN NaN
19383       NaN       NaN       NaN       NaN  NaN        NaN NaN NaN

                            ...                                              \
분기                          ... 15_2
상품분류       생활잡화        식료품  ... 도서음반      레저취미     문구류       사치품       생활잡화
고객번호                        ...
1      491408.0   635666.0  ...  NaN       NaN     NaN  271517.0   182459.0
2      806679.0  2455558.0  ...  NaN  689118.0     NaN       NaN  2418332.0
3         588.0   142184.0  ...  NaN       NaN     NaN       NaN    32796.0
4       93210.0   566579.0  ...  NaN       NaN     NaN       NaN    55115.0
5      314483.0  1321780.0  ...  NaN       NaN     NaN       NaN     3056.0
...         ...        ...  ...  ...       ...     ...       ...        ...
19379       NaN        NaN  ...  NaN   11796.0     NaN       NaN   304944.0
19380       NaN        NaN  ...  NaN       NaN     NaN       NaN    27345.0
19381       NaN        NaN  ...  NaN   53617.0     NaN       NaN    32063.0
19382       NaN        NaN  ...  NaN       NaN  4611.0       NaN    57156.0
19383       NaN        NaN  ...  NaN       NaN     NaN       NaN        NaN


분기
상품분류         식료품       의류잡화 전자제품 차량용품        화장품
고객번호
1      1085088.0  6914818.0  NaN  NaN    83643.0
2       965639.0  2046243.0  NaN  NaN  3821403.0
3       198980.0        NaN  NaN  NaN        NaN
4       730851.0   926929.0  NaN  NaN   134472.0
5       256589.0        NaN  NaN  NaN        NaN
...          ...        ...  ...  ...        ...
19379   110589.0   364381.0  NaN  NaN   513222.0
19380    45489.0    31098.0  NaN  NaN   272590.0
19381  1493127.0    67235.0  NaN  NaN    32491.0
19382   808235.0    87932.0  NaN  NaN    72972.0
19383     4289.0        NaN  NaN  NaN    24664.0

[19372 rows x 84 columns]

In [3]:
pdf.fillna(0,inplace=True)
pdf

           총구매액                                                          \
분기         14_1
상품분류        가구류     고급식료품        기타       기호품 도서음반       레저취미  문구류  사치품
고객번호
1      174817.0  846288.0  116561.0  159810.0  0.0   631026.0  0.0  0.0
2      497341.0       0.0  380141.0   25192.0  0.0  2159341.0  0.0  0.0
3           0.0       0.0       0.0  155182.0  0.0        0.0  0.0  0.0
4           0.0       0.0   12793.0    8856.0  0.0        0.0  0.0  0.0
5           0.0  232778.0   53729.0  150659.0  0.0    62074.0  0.0  0.0
...         ...       ...       ...       ...  ...        ...  ...  ...
19379       0.0       0.0       0.0       0.0  0.0        0.0  0.0  0.0
19380       0.0       0.0       0.0       0.0  0.0        0.0  0.0  0.0
19381       0.0       0.0       0.0       0.0  0.0        0.0  0.0  0.0
19382       0.0       0.0       0.0       0.0  0.0        0.0  0.0  0.0
19383       0.0       0.0       0.0       0.0  0.0        0.0  0.0  0.0

                            ...                                              \
분기                          ... 15_2
상품분류       생활잡화        식료품  ... 도서음반      레저취미     문구류       사치품       생활잡화
고객번호                        ...
1      491408.0   635666.0  ...  0.0       0.0     0.0  271517.0   182459.0
2      806679.0  2455558.0  ...  0.0  689118.0     0.0       0.0  2418332.0
3         588.0   142184.0  ...  0.0       0.0     0.0       0.0    32796.0
4       93210.0   566579.0  ...  0.0       0.0     0.0       0.0    55115.0
5      314483.0  1321780.0  ...  0.0       0.0     0.0       0.0     3056.0
...         ...        ...  ...  ...       ...     ...       ...        ...
19379       0.0        0.0  ...  0.0   11796.0     0.0       0.0   304944.0
19380       0.0        0.0  ...  0.0       0.0     0.0       0.0    27345.0
19381       0.0        0.0  ...  0.0   53617.0     0.0       0.0    32063.0
19382       0.0        0.0  ...  0.0       0.0  4611.0       0.0    57156.0
19383       0.0        0.0  ...  0.0       0.0     0.0       0.0        0.0


분기
상품분류         식료품       의류잡화 전자제품 차량용품        화장품
고객번호
1      1085088.0  6914818.0  0.0  0.0    83643.0
2       965639.0  2046243.0  0.0  0.0  3821403.0
3       198980.0        0.0  0.0  0.0        0.0
4       730851.0   926929.0  0.0  0.0   134472.0
5       256589.0        0.0  0.0  0.0        0.0
...          ...        ...  ...  ...        ...
19379   110589.0   364381.0  0.0  0.0   513222.0
19380    45489.0    31098.0  0.0  0.0   272590.0
19381  1493127.0    67235.0  0.0  0.0    32491.0
19382   808235.0    87932.0  0.0  0.0    72972.0
19383     4289.0        0.0  0.0  0.0    24664.0

[19372 rows x 84 columns]

In [4]:
pdf['총구매액']

분기         14_1                                                          \
상품분류        가구류     고급식료품        기타       기호품 도서음반       레저취미  문구류  사치품
고객번호
1      174817.0  846288.0  116561.0  159810.0  0.0   631026.0  0.0  0.0
2      497341.0       0.0  380141.0   25192.0  0.0  2159341.0  0.0  0.0
3           0.0       0.0       0.0  155182.0  0.0        0.0  0.0  0.0
4           0.0       0.0   12793.0    8856.0  0.0        0.0  0.0  0.0
5           0.0  232778.0   53729.0  150659.0  0.0    62074.0  0.0  0.0
...         ...       ...       ...       ...  ...        ...  ...  ...
19379       0.0       0.0       0.0       0.0  0.0        0.0  0.0  0.0
19380       0.0       0.0       0.0       0.0  0.0        0.0  0.0  0.0
19381       0.0       0.0       0.0       0.0  0.0        0.0  0.0  0.0
19382       0.0       0.0       0.0       0.0  0.0        0.0  0.0  0.0
19383       0.0       0.0       0.0       0.0  0.0        0.0  0.0  0.0

분기                          ... 15_2                                         \
상품분류       생활잡화        식료품  ... 도서음반      레저취미     문구류       사치품       생활잡화
고객번호                        ...
1      491408.0   635666.0  ...  0.0       0.0     0.0  271517.0   182459.0
2      806679.0  2455558.0  ...  0.0  689118.0     0.0       0.0  2418332.0
3         588.0   142184.0  ...  0.0       0.0     0.0       0.0    32796.0
4       93210.0   566579.0  ...  0.0       0.0     0.0       0.0    55115.0
5      314483.0  1321780.0  ...  0.0       0.0     0.0       0.0     3056.0
...         ...        ...  ...  ...       ...     ...       ...        ...
19379       0.0        0.0  ...  0.0   11796.0     0.0       0.0   304944.0
19380       0.0        0.0  ...  0.0       0.0     0.0       0.0    27345.0
19381       0.0        0.0  ...  0.0   53617.0     0.0       0.0    32063.0
19382       0.0        0.0  ...  0.0       0.0  4611.0       0.0    57156.0
19383       0.0        0.0  ...  0.0       0.0     0.0       0.0        0.0

분기
상품분류         식료품       의류잡화 전자제품 차량용품        화장품
고객번호
1      1085088.0  6914818.0  0.0  0.0    83643.0
2       965639.0  2046243.0  0.0  0.0  3821403.0
3       198980.0        0.0  0.0  0.0        0.0
4       730851.0   926929.0  0.0  0.0   134472.0
5       256589.0        0.0  0.0  0.0        0.0
...          ...        ...  ...  ...        ...
19379   110589.0   364381.0  0.0  0.0   513222.0
19380    45489.0    31098.0  0.0  0.0   272590.0
19381  1493127.0    67235.0  0.0  0.0    32491.0
19382   808235.0    87932.0  0.0  0.0    72972.0
19383     4289.0        0.0  0.0  0.0    24664.0

[19372 rows x 84 columns]

In [5]:
import numpy as np
lst=[]
for i in pdf.columns[:14]:
    lst.append(i[2])
lst

['가구류',
 '고급식료품',
 '기타',
 '기호품',
 '도서음반',
 '레저취미',
 '문구류',
 '사치품',
 '생활잡화',
 '식료품',
 '의류잡화',
 '전자제품',
 '차량용품',
 '화장품']

In [6]:
colum=[]
for k in range(1,7):
    for j in (lst):
        colum.append(f'{k}기{j}')
colum

['1기가구류',
 '1기고급식료품',
 '1기기타',
 '1기기호품',
 '1기도서음반',
 '1기레저취미',
 '1기문구류',
 '1기사치품',
 '1기생활잡화',
 '1기식료품',
 '1기의류잡화',
 '1기전자제품',
 '1기차량용품',
 '1기화장품',
 '2기가구류',
 '2기고급식료품',
 '2기기타',
 '2기기호품',
 '2기도서음반',
 '2기레저취미',
 '2기문구류',
 '2기사치품',
 '2기생활잡화',
 '2기식료품',
 '2기의류잡화',
 '2기전자제품',
 '2기차량용품',
 '2기화장품',
 '3기가구류',
 '3기고급식료품',
 '3기기타',
 '3기기호품',
 '3기도서음반',
 '3기레저취미',
 '3기문구류',
 '3기사치품',
 '3기생활잡화',
 '3기식료품',
 '3기의류잡화',
 '3기전자제품',
 '3기차량용품',
 '3기화장품',
 '4기가구류',
 '4기고급식료품',
 '4기기타',
 '4기기호품',
 '4기도서음반',
 '4기레저취미',
 '4기문구류',
 '4기사치품',
 '4기생활잡화',
 '4기식료품',
 '4기의류잡화',
 '4기전자제품',
 '4기차량용품',
 '4기화장품',
 '5기가구류',
 '5기고급식료품',
 '5기기타',
 '5기기호품',
 '5기도서음반',
 '5기레저취미',
 '5기문구류',
 '5기사치품',
 '5기생활잡화',
 '5기식료품',
 '5기의류잡화',
 '5기전자제품',
 '5기차량용품',
 '5기화장품',
 '6기가구류',
 '6기고급식료품',
 '6기기타',
 '6기기호품',
 '6기도서음반',
 '6기레저취미',
 '6기문구류',
 '6기사치품',
 '6기생활잡화',
 '6기식료품',
 '6기의류잡화',
 '6기전자제품',
 '6기차량용품',
 '6기화장품']

In [7]:
col=[]
for i,j in enumerate(lst):
    for k in range(1,7):
        col.append(f'{k}기{j}')
col

['1기가구류',
 '2기가구류',
 '3기가구류',
 '4기가구류',
 '5기가구류',
 '6기가구류',
 '1기고급식료품',
 '2기고급식료품',
 '3기고급식료품',
 '4기고급식료품',
 '5기고급식료품',
 '6기고급식료품',
 '1기기타',
 '2기기타',
 '3기기타',
 '4기기타',
 '5기기타',
 '6기기타',
 '1기기호품',
 '2기기호품',
 '3기기호품',
 '4기기호품',
 '5기기호품',
 '6기기호품',
 '1기도서음반',
 '2기도서음반',
 '3기도서음반',
 '4기도서음반',
 '5기도서음반',
 '6기도서음반',
 '1기레저취미',
 '2기레저취미',
 '3기레저취미',
 '4기레저취미',
 '5기레저취미',
 '6기레저취미',
 '1기문구류',
 '2기문구류',
 '3기문구류',
 '4기문구류',
 '5기문구류',
 '6기문구류',
 '1기사치품',
 '2기사치품',
 '3기사치품',
 '4기사치품',
 '5기사치품',
 '6기사치품',
 '1기생활잡화',
 '2기생활잡화',
 '3기생활잡화',
 '4기생활잡화',
 '5기생활잡화',
 '6기생활잡화',
 '1기식료품',
 '2기식료품',
 '3기식료품',
 '4기식료품',
 '5기식료품',
 '6기식료품',
 '1기의류잡화',
 '2기의류잡화',
 '3기의류잡화',
 '4기의류잡화',
 '5기의류잡화',
 '6기의류잡화',
 '1기전자제품',
 '2기전자제품',
 '3기전자제품',
 '4기전자제품',
 '5기전자제품',
 '6기전자제품',
 '1기차량용품',
 '2기차량용품',
 '3기차량용품',
 '4기차량용품',
 '5기차량용품',
 '6기차량용품',
 '1기화장품',
 '2기화장품',
 '3기화장품',
 '4기화장품',
 '5기화장품',
 '6기화장품']

In [8]:
pdf.columns=colum
dfn=pdf[col]
dfn

,1기가구류,2기가구류,3기가구류,4기가구류,5기가구류,6기가구류,1기고급식료품,2기고급식료품,3기고급식료품,4기고급식료품,...,3기차량용품,4기차량용품,5기차량용품,6기차량용품,1기화장품,2기화장품,3기화장품,4기화장품,5기화장품,6기화장품
고객번호,,,,,,,,,,,,,,,,,,,,,
1,174817.0,0.0,72127.0,4173806.0,86471.0,527324.0,846288.0,1969390.0,212517.0,23945.0,...,0.0,0.0,0.0,0.0,1126989.0,560778.0,758215.0,387547.0,528434.0,83643.0
2,497341.0,57479.0,0.0,34587.0,79007.0,0.0,0.0,226567.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5366606.0,2064189.0,2799044.0,1489841.0,3730632.0,3821403.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,112981.0,285472.0,0.0,0.0,0.0,0.0,28245.0,0.0,...,0.0,0.0,0.0,0.0,32720.0,0.0,362838.0,225789.0,80909.0,134472.0
5,0.0,0.0,239858.0,0.0,0.0,0.0,232778.0,129708.0,277707.0,88684.0,...,0.0,0.0,0.0,0.0,764030.0,124537.0,252851.0,0.0,483277.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,113885.0,357557.0,453075.0,513222.0
19380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,437210.0,298753.0,272590.0
19381,0.0,0.0,0.0,0.0,0.0,83643.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10113.0,32491.0
19382,0.0,0.0,0.0,0.0,0.0,4826.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72972.0
19383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24664.0

In [9]:
lst

['가구류',
 '고급식료품',
 '기타',
 '기호품',
 '도서음반',
 '레저취미',
 '문구류',
 '사치품',
 '생활잡화',
 '식료품',
 '의류잡화',
 '전자제품',
 '차량용품',
 '화장품']

In [10]:
dfn.fillna(0,inplace=True)

In [11]:
for i in range(14):
    dfa=dfn.iloc[:,0+(6*i):6+(6*i)]
    dfn[f'{lst[i]}cv']=round(dfa.mean(axis=1),2)/round(dfa.std(axis=1),2)
dfn

,1기가구류,2기가구류,3기가구류,4기가구류,5기가구류,6기가구류,1기고급식료품,2기고급식료품,3기고급식료품,4기고급식료품,...,도서음반cv,레저취미cv,문구류cv,사치품cv,생활잡화cv,식료품cv,의류잡화cv,전자제품cv,차량용품cv,화장품cv
고객번호,,,,,,,,,,,,,,,,,,,,,
1,174817.0,0.0,72127.0,4173806.0,86471.0,527324.0,846288.0,1969390.0,212517.0,23945.0,...,NaN,0.628025,NaN,0.830042,0.721307,3.091508,7.840260,0.426759,NaN,1.634509
2,497341.0,57479.0,0.0,34587.0,79007.0,0.0,0.0,226567.0,0.0,0.0,...,NaN,1.839522,NaN,0.518822,0.866263,3.463955,1.599492,0.918172,NaN,2.301720
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,1.519680,1.930515,0.408248,0.408248,NaN,NaN
4,0.0,0.0,112981.0,285472.0,0.0,0.0,0.0,0.0,28245.0,0.0,...,NaN,0.554335,NaN,NaN,2.839113,2.625885,1.444159,NaN,NaN,1.030057
5,0.0,0.0,239858.0,0.0,0.0,0.0,232778.0,129708.0,277707.0,88684.0,...,NaN,0.637603,NaN,0.408248,0.663239,1.623264,1.094492,0.408248,NaN,0.895862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.408248,NaN,NaN,0.799391,1.035271,0.909540,0.408249,NaN,1.040906
19380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.408248,NaN,0.606945,0.625673,0.408248,0.593484,NaN,0.873441
19381,0.0,0.0,0.0,0.0,0.0,83643.0,0.0,0.0,0.0,0.0,...,NaN,0.408248,0.408245,NaN,0.584962,0.576158,0.483184,NaN,NaN,0.542868
19382,0.0,0.0,0.0,0.0,0.0,4826.0,0.0,0.0,0.0,0.0,...,NaN,0.408248,0.561952,NaN,0.645231,0.632243,0.645030,NaN,NaN,0.408248
19383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.408246,NaN,NaN,NaN,0.408248

In [12]:
res=dfn.iloc[:,-14:]
res.fillna(0,inplace=True)

In [13]:
res

,가구류cv,고급식료품cv,기타cv,기호품cv,도서음반cv,레저취미cv,문구류cv,사치품cv,생활잡화cv,식료품cv,의류잡화cv,전자제품cv,차량용품cv,화장품cv
고객번호,,,,,,,,,,,,,,
1,0.510323,0.647307,1.891668,1.048296,0.0,0.628025,0.000000,0.830042,0.721307,3.091508,7.840260,0.426759,0.0,1.634509
2,0.581314,0.408248,0.783013,0.998384,0.0,1.839522,0.000000,0.518822,0.866263,3.463955,1.599492,0.918172,0.0,2.301720
3,0.000000,0.000000,0.000000,4.078545,0.0,0.000000,0.000000,0.000000,1.519680,1.930515,0.408248,0.408248,0.0,0.000000
4,0.570298,0.571152,1.442732,1.413245,0.0,0.554335,0.000000,0.000000,2.839113,2.625885,1.444159,0.000000,0.0,1.030057
5,0.408248,1.527263,0.432751,1.334478,0.0,0.637603,0.000000,0.408248,0.663239,1.623264,1.094492,0.408248,0.0,0.895862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19379,0.000000,0.000000,0.492732,0.000000,0.0,0.408248,0.000000,0.000000,0.799391,1.035271,0.909540,0.408249,0.0,1.040906
19380,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.408248,0.000000,0.606945,0.625673,0.408248,0.593484,0.0,0.873441
19381,0.408248,0.000000,0.643971,0.408248,0.0,0.408248,0.408245,0.000000,0.584962,0.576158,0.483184,0.000000,0.0,0.542868
19382,0.408246,0.000000,0.566458,0.510375,0.0,0.408248,0.561952,0.000000,0.645231,0.632243,0.645030,0.000000,0.0,0.408248
19383,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.408246,0.000000,0.000000,0.0,0.408248

In [15]:
dd=pd.read_csv('C:/1차data/1-7고객수.csv',encoding='utf-8')
dd

        고객번호
0          1
1          2
2          3
3          4
4          6
...      ...
18873  19333
18874  19334
18875  19335
18876  19336
18877  19337

[18878 rows x 1 columns]

In [16]:
res=pd.merge(dd,res, on='고객번호',how='left')
res

,고객번호,가구류cv,고급식료품cv,기타cv,기호품cv,도서음반cv,레저취미cv,문구류cv,사치품cv,생활잡화cv,식료품cv,의류잡화cv,전자제품cv,차량용품cv,화장품cv
0,1,0.510323,0.647307,1.891668,1.048296,0.000000,0.628025,0.000000,0.830042,0.721307,3.091508,7.840260,0.426759,0.000000,1.634509
1,2,0.581314,0.408248,0.783013,0.998384,0.000000,1.839522,0.000000,0.518822,0.866263,3.463955,1.599492,0.918172,0.000000,2.301720
2,3,0.000000,0.000000,0.000000,4.078545,0.000000,0.000000,0.000000,0.000000,1.519680,1.930515,0.408248,0.408248,0.000000,0.000000
3,4,0.570298,0.571152,1.442732,1.413245,0.000000,0.554335,0.000000,0.000000,2.839113,2.625885,1.444159,0.000000,0.000000,1.030057
4,6,0.497098,0.600694,3.926354,0.791152,0.000000,0.408250,0.000000,0.878562,2.089644,3.142660,1.941744,0.000000,0.000000,3.405015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18873,19333,0.000000,0.722968,1.588755,1.435982,0.000000,0.408249,0.645286,0.000000,0.804203,2.251272,0.408248,0.000000,0.000000,0.000000
18874,19334,0.510699,0.860804,1.059436,0.942556,0.894208,0.930347,1.032158,0.000000,1.971080,1.698736,1.473782,0.408248,0.408250,0.998212
18875,19335,1.331868,0.625329,0.753688,1.750100,0.993583,0.581362,2.685452,0.000000,1.543799,3.119982,2.046077,0.000000,0.595156,1.341271
18876,19336,0.408248,0.000000,1.672500,0.539557,0.000000,0.000000,0.000000,0.636210,0.639309,0.790920,1.826369,0.000000,0.000000,1.025006
18877,19337,0.000000,0.000000,0.000000,1.060917,0.000000,0.000000,0.627984,0.000000,0.822965,1.393300,0.550861,0.408249,0.487854,0.000000

In [17]:
res.to_csv('C:/1차data/1-6품목변동계수.csv',encoding='cp949',index=False)