In [1]:
import re
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import VotingClassifier
from sklearn import svm
from sklearn.svm import SVC
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import Binarizer
from sklearn.metrics import accuracy_score, precision_score , recall_score , confusion_matrix
from sklearn.model_selection import GridSearchCV
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

C:\Users\hyeonu\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [3]:
import pandas as pd

df=pd.read_csv('C:/1차data/3.22.csv',encoding='cp949')
df

,고객번호,성별,연령대,거주지역,경쟁사이용횟수,멤버쉽보유,온라인이용횟수,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),...,D번제휴사구매비율(%),A_구매횟수,B_구매횟수,C_구매횟수,D_구매횟수,A_총구매액,B_총구매액,C_총구매액,D_총구매액,분기증감확인
0,1,1,5,1,15,0,0,2.86,27.70,66.92,...,0.00,874,64,119,0,1,7,3,4,0
1,2,1,5,0,8,0,0,3.64,36.73,53.35,...,9.90,1080,16,0,20,1,8,10,1,0
2,3,1,5,0,0,0,0,4.47,95.53,0.00,...,0.00,1,2,1188,0,10,10,3,8,0
3,4,0,5,1,3,0,0,2.72,26.13,66.48,...,0.00,649,126,155,0,4,6,4,8,0
4,6,0,5,3,0,0,0,4.99,45.59,40.38,...,0.00,361,1193,39,0,4,3,4,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,0,1,0,0,1,5,15.53,55.08,0.00,...,50.17,427,302,11,84,6,7,7,1,0
18862,19334,1,2,3,30,1,0,13.88,66.70,0.00,...,0.00,3,1674,287,0,8,2,4,5,0
18863,19335,0,2,0,0,1,0,16.72,53.31,0.00,...,0.00,10,1496,367,0,7,2,3,5,1
18864,19336,0,2,1,0,0,0,10.66,30.64,54.74,...,8.74,434,1,0,5,3,10,9,1,1
18865,19337,1,1,1,0,0,0,6.46,93.54,0.00,...,0.00,5,11,1305,0,9,8,3,10,1

In [4]:
df.columns

Index(['고객번호', '성별', '연령대', '거주지역', '경쟁사이용횟수', '멤버쉽보유', '온라인이용횟수',
       '1번품목구매비율(%)', '2번품목구매비율(%)', '3번품목구매비율(%)', '4번품목구매비율(%)', '편의품구매횟수',
       '선매품구매횟수', '전문품구매횟수', '기타구매횟수', '편의품구매등급', '선매품구매등급', '전문품구매등급',
       '기타구매등급', '1기구매비율(%)', '2기구매비율(%)', '3기구매비율(%)', '4기구매비율(%)',
       '5기구매비율(%)', '6기구매비율(%)', '7기구매비율(%)', '8기구매비율(%)', '1기구매등급', '2기구매등급',
       '3기구매등급', '4기구매등급', '5기구매등급', '6기구매등급', '7기구매등급', '8기구매등급', '1기구매횟수',
       '2기구매횟수', '3기구매횟수', '4기구매횟수', '5기구매횟수', '6기구매횟수', '7기구매횟수', '8기구매횟수',
       'A제휴사구매비율(%)', 'B제휴사구매비율(%)', 'C제휴사구매비율(%)', 'D번제휴사구매비율(%)', 'A_구매횟수',
       'B_구매횟수', 'C_구매횟수', 'D_구매횟수', 'A_총구매액', 'B_총구매액', 'C_총구매액', 'D_총구매액',
       '분기증감확인'],
      dtype='object')

In [5]:
df=df[['고객번호','성별','연령대','거주지역', '경쟁사이용횟수', '멤버쉽보유', '온라인이용횟수','분기증감확인',
     ]]

In [6]:
df1=pd.read_csv('C:/1차data/변동계수.csv',encoding='cp949')
df1

        고객번호  분기증감율  분기변동율     분기변동계수
0          1      1      1   2.698113
1          2      0      4   2.632653
2          3      0      0   0.000000
3          4     -2     10   3.978571
4          6     -2      2   6.896552
...      ...    ...    ...        ...
18861  19333      0      2  25.947368
18862  19334      1     11   2.583026
18863  19335     -2     12   3.172222
18864  19336     -8     10   1.723735
18865  19337     -2      2  12.776316

[18866 rows x 4 columns]

In [7]:
df=pd.merge(df,df1, on='고객번호',how='left')
df

,고객번호,성별,연령대,거주지역,경쟁사이용횟수,멤버쉽보유,온라인이용횟수,분기증감확인,분기증감율,분기변동율,분기변동계수
0,1,1,5,1,15,0,0,0,1,1,2.698113
1,2,1,5,0,8,0,0,0,0,4,2.632653
2,3,1,5,0,0,0,0,0,0,0,0.000000
3,4,0,5,1,3,0,0,0,-2,10,3.978571
4,6,0,5,3,0,0,0,1,-2,2,6.896552
...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,0,1,0,0,1,5,0,0,2,25.947368
18862,19334,1,2,3,30,1,0,0,1,11,2.583026
18863,19335,0,2,0,0,1,0,1,-2,12,3.172222
18864,19336,0,2,1,0,0,0,1,-8,10,1.723735
18865,19337,1,1,1,0,0,0,1,-2,2,12.776316

In [9]:
cor=df.corr()['분기증감확인'].abs()
cor.sort_values(ascending=False)

분기증감확인     1.000000
분기증감율      0.481994
분기변동계수     0.065140
연령대        0.030961
분기변동율      0.023185
경쟁사이용횟수    0.019390
온라인이용횟수    0.017091
멤버쉽보유      0.014491
성별         0.010664
고객번호       0.000697
거주지역       0.000018
Name: 분기증감확인, dtype: float64

In [10]:
X =df.drop(['고객번호','분기증감확인'],axis=1)
y=df[['분기증감확인']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=10)
X

       성별  연령대  거주지역  경쟁사이용횟수  멤버쉽보유  온라인이용횟수  분기증감율  분기변동율     분기변동계수
0       1    5     1       15      0        0      1      1   2.698113
1       1    5     0        8      0        0      0      4   2.632653
2       1    5     0        0      0        0      0      0   0.000000
3       0    5     1        3      0        0     -2     10   3.978571
4       0    5     3        0      0        0     -2      2   6.896552
...    ..  ...   ...      ...    ...      ...    ...    ...        ...
18861   0    1     0        0      1        5      0      2  25.947368
18862   1    2     3       30      1        0      1     11   2.583026
18863   0    2     0        0      1        0     -2     12   3.172222
18864   0    2     1        0      0        0     -8     10   1.723735
18865   1    1     1        0      0        0     -2      2  12.776316

[18866 rows x 9 columns]

In [11]:
%%time

def est(y_test,pred,pred_proba):
    con=confusion_matrix(y_test,pred)
    acc=accuracy_score(y_test,pred)
    pre=precision_score(y_test,pred)
    rec=recall_score(y_test,pred)
    f1=f1_score(y_test,pred)
    roc=roc_auc_score(y_test,pred_proba)
    print('오차행렬\n',con.round(3))
    print('정확도 :',acc.round(3))
    print('정밀도 :',pre.round(3))
    print('재현율 :',rec.round(3))
    print('f1점수:',f1.round(3))
    print('roc_auc :',roc.round(3))
    print()
    print()
    
dt_clf = DecisionTreeClassifier()
dt_clf.fit(X_train , y_train)
pred = dt_clf.predict(X_test)
pred_proba = dt_clf.predict_proba(X_test)[:,1]
print('결정트리')
est(y_test,pred,pred_proba)

rf_clf = RandomForestClassifier()
rf_clf.fit(X_train, y_train)
pred = rf_clf.predict(X_test)
pred_proba = rf_clf.predict_proba(X_test)[:,1]
print('랜덤포레스트')
est(y_test,pred,pred_proba)

                                                                  

lr_clf = LogisticRegression()
lr_clf.fit(X_train, y_train)
pred = lr_clf.predict(X_test)
pred_proba = lr_clf.predict_proba(X_test)[:,1]
print('로지스틱회귀')
est(y_test,pred,pred_proba)

lgbm_wrapper = LGBMClassifier(n_estimators=400)
evals = [(X_test,y_test)]
lgbm_wrapper.fit(X_train, y_train, eval_set=evals, verbose=False)
pred = lgbm_wrapper.predict(X_test)
pred_proba = lgbm_wrapper.predict_proba(X_test)[:,1]
print('LGBM')
est(y_test,pred,pred_proba)


evals = [(X_test,y_test)]
xgb_wrapper = XGBClassifier(n_estimators=400, learning_rate=0.1, max_depth=3)
xgb_wrapper.fit(X_train,y_train, early_stopping_rounds = 100, eval_set=evals, eval_metric='logloss', verbose=False)
pred = xgb_wrapper.predict(X_test)
pred_proba = xgb_wrapper.predict_proba(X_test)[:,1]
print('XGB')
est(y_test,pred,pred_proba)


svm_model = svm.SVC(kernel='linear',probability=True,C=1)
svm_model.fit(X_train, y_train)
pred = svm_model.predict(X_test)
pred_proba = svm_model.predict_proba(X_test)[:,1]
print('SVM')
est(y_test,pred,pred_proba)


k_model = KNeighborsClassifier(n_neighbors=40)
k_model.fit(X_train,y_train)
pred = k_model.predict(X_test)
pred_proba = k_model.predict_proba(X_test)[:,1]
print('KNN')
est(y_test,pred,pred_proba)



lr_clf = LogisticRegression()
knn_clf = KNeighborsClassifier(n_neighbors=8)
vo_clf = VotingClassifier( estimators=[('LR',lr_clf),('KNN',knn_clf)] , voting='soft' )
vo_clf.fit(X_train , y_train)
pred = vo_clf.predict(X_test)
pred_proba = vo_clf.predict_proba(X_test)[:,1]
print('KNN + 로지스틱회귀 앙상블')
est(y_test,pred,pred_proba)

결정트리
오차행렬
 [[1449  668]
 [ 687  970]]
정확도 : 0.641
정밀도 : 0.592
재현율 : 0.585
f1점수: 0.589
roc_auc : 0.643


랜덤포레스트
오차행렬
 [[1656  461]
 [ 630 1027]]
정확도 : 0.711
정밀도 : 0.69
재현율 : 0.62
f1점수: 0.653
roc_auc : 0.771


로지스틱회귀
오차행렬
 [[1740  377]
 [ 675  982]]
정확도 : 0.721
정밀도 : 0.723
재현율 : 0.593
f1점수: 0.651
roc_auc : 0.792


LGBM
오차행렬
 [[1689  428]
 [ 628 1029]]
정확도 : 0.72
정밀도 : 0.706
재현율 : 0.621
f1점수: 0.661
roc_auc : 0.788


XGB
오차행렬
 [[1678  439]
 [ 601 1056]]
정확도 : 0.724
정밀도 : 0.706
재현율 : 0.637
f1점수: 0.67
roc_auc : 0.799


SVM
오차행렬
 [[1744  373]
 [ 662  995]]
정확도 : 0.726
정밀도 : 0.727
재현율 : 0.6
f1점수: 0.658
roc_auc : 0.792


KNN
오차행렬
 [[1781  336]
 [ 746  911]]
정확도 : 0.713
정밀도 : 0.731
재현율 : 0.55
f1점수: 0.627
roc_auc : 0.779


KNN + 로지스틱회귀 앙상블
오차행렬
 [[1713  404]
 [ 680  977]]
정확도 : 0.713
정밀도 : 0.707
재현율 : 0.59
f1점수: 0.643
roc_auc : 0.787


Wall time: 41min 47s