In [35]:
import re
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import VotingClassifier
from sklearn import svm
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import Binarizer
from sklearn.metrics import accuracy_score, precision_score , recall_score , confusion_matrix
from sklearn.model_selection import GridSearchCV
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

C:\Users\hyeonu\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [9]:
import pandas as pd

df=pd.read_csv('C:/1차data/3.19.csv',encoding='cp949')
df

,고객번호,성별,연령대,거주지역,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),4번품목구매비율(%),경쟁사이용횟수,멤버쉽보유,온라인이용횟수,1기구매비율(%),2기구매비율(%),3기구매비율(%),4기구매비율(%),5기구매비율(%),6기구매비율(%),7기구매비율(%),8기구매비율(%),분기증감확인
0,1,1,5,1,2.86,27.70,66.92,2.52,15.0,0.0,0.0,11.46,14.63,13.22,14.90,8.43,10.15,18.56,8.65,0
1,2,1,5,0,3.64,36.73,53.35,6.28,8.0,0.0,0.0,10.30,9.24,16.44,6.49,17.57,11.73,16.87,11.36,0
2,3,1,5,0,4.47,95.53,0.00,0.00,0.0,0.0,0.0,9.88,12.45,13.71,11.11,14.96,11.62,15.71,10.56,0
3,4,0,5,1,2.72,26.13,66.48,4.67,3.0,0.0,0.0,9.35,14.65,21.83,12.53,9.71,9.85,13.69,8.39,0
4,6,0,5,3,4.99,45.59,40.38,9.04,0.0,0.0,0.0,8.86,13.33,16.02,11.16,12.32,14.81,13.86,9.64,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,0,1,0,15.53,55.08,0.00,29.39,0.0,1.0,5.0,11.51,11.72,15.37,7.99,13.80,15.52,13.97,10.12,0
18862,19334,1,2,3,13.88,66.70,0.00,19.42,30.0,1.0,0.0,10.03,9.05,9.48,11.36,11.80,7.81,27.53,12.94,0
18863,19335,0,2,0,16.72,53.31,0.00,29.97,0.0,1.0,0.0,13.37,13.37,13.17,9.74,10.97,17.91,11.52,9.94,1
18864,19336,0,2,1,10.66,30.64,54.74,3.96,0.0,0.0,0.0,9.27,7.35,7.48,11.51,7.79,19.75,23.40,13.44,1
18865,19337,1,1,1,6.46,93.54,0.00,0.00,0.0,0.0,0.0,8.18,12.43,12.43,14.14,13.50,11.38,15.87,12.07,1

In [39]:
df.columns

Index(['고객번호', '성별', '연령대', '거주지역', '1번품목구매비율(%)', '2번품목구매비율(%)',
       '3번품목구매비율(%)', '4번품목구매비율(%)', '경쟁사이용횟수', '멤버쉽보유', '온라인이용횟수',
       '1기구매비율(%)', '2기구매비율(%)', '3기구매비율(%)', '4기구매비율(%)', '5기구매비율(%)',
       '6기구매비율(%)', '7기구매비율(%)', '8기구매비율(%)', '분기증감확인', 'A제휴사구매비율(%)',
       'B제휴사구매비율(%)', 'C제휴사구매비율(%)', 'D번제휴사구매비율(%)'],
      dtype='object')

In [40]:
from sklearn.preprocessing import StandardScaler
stcol=['1번품목구매비율(%)', '2번품목구매비율(%)',
       '3번품목구매비율(%)', '4번품목구매비율(%)',
      '1기구매비율(%)', '2기구매비율(%)', '3기구매비율(%)', '4기구매비율(%)', '5기구매비율(%)',
       '6기구매비율(%)', '7기구매비율(%)', '8기구매비율(%)',
      '경쟁사이용횟수','멤버쉽보유','온라인이용횟수','A제휴사구매비율(%)',
       'B제휴사구매비율(%)', 'C제휴사구매비율(%)', 'D번제휴사구매비율(%)']

for i in stcol:
    sc = StandardScaler()
    sc.fit(df[[i]])
    df[i] = sc.transform(df[[i]])
df

,고객번호,성별,연령대,거주지역,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),4번품목구매비율(%),경쟁사이용횟수,멤버쉽보유,...,4기구매비율(%),5기구매비율(%),6기구매비율(%),7기구매비율(%),8기구매비율(%),분기증감확인,A제휴사구매비율(%),B제휴사구매비율(%),C제휴사구매비율(%),D번제휴사구매비율(%)
0,1,1,5,1,-0.630974,-0.755058,1.078629,-0.835903,3.784157,-0.652472,...,0.679744,-0.915534,-0.558190,1.083053,-0.543234,0,0.367529,-0.340113,0.040420,-0.350180
1,2,1,5,0,-0.525165,-0.394411,0.679567,-0.596377,1.828781,-0.652472,...,-1.199224,1.146230,-0.195524,0.744137,-0.027620,0,0.177409,-0.281131,-0.875067,0.970125
2,3,1,5,0,-0.412574,1.953988,-0.889331,-0.996436,-0.405935,-0.652472,...,-0.167020,0.557477,-0.220773,0.511509,-0.179831,0,0.936198,-0.809546,-0.498028,-0.350180
3,4,0,5,1,-0.649966,-0.817762,1.065689,-0.698940,0.432083,-0.652472,...,0.150237,-0.626797,-0.627051,0.106415,-0.592702,0,-1.177130,1.397840,0.780628,-0.350180
4,6,0,5,3,-0.342034,-0.040554,0.298150,-0.420556,-0.405935,-0.652472,...,-0.155849,-0.038043,0.511444,0.140507,-0.354873,1,-0.457831,-0.248812,1.744034,-0.350180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,0,1,0,1.087744,0.338465,-0.889331,0.875812,-0.405935,1.068660,...,-0.864093,0.295809,0.674414,0.162567,-0.263547,0,-2.846467,0.000044,0.368281,6.340700
18862,19334,1,2,3,0.863918,0.802553,-0.889331,0.240687,7.974248,1.068660,...,-0.111165,-0.155343,-1.095303,2.881910,0.272996,0,1.003333,-0.811162,-0.645565,-0.350180
18863,19335,0,2,0,1.249171,0.267773,-0.889331,0.912760,-0.405935,1.068660,...,-0.473107,-0.342571,1.223004,-0.328760,-0.297794,1,0.808135,-0.639872,-0.476591,-0.350180
18864,19336,0,2,1,0.427116,-0.637638,0.720444,-0.744170,-0.405935,-0.652472,...,-0.077652,-1.059902,1.645349,2.053673,0.368127,1,-0.543583,0.845186,-0.875067,0.815422
18865,19337,1,1,1,-0.142625,1.874509,-0.889331,-0.996436,-0.405935,-0.652472,...,0.509944,0.228136,-0.275862,0.543596,0.107467,1,0.061192,0.378984,-0.397147,-0.350180

In [41]:
lst=['성별','연령대','거주지역']

ddf=pd.get_dummies(df[lst[0]])
ddf.columns=['성별1','성별2']
onehot=pd.concat([df,ddf],axis=1)    
onehot

ddf=pd.get_dummies(df[lst[1]])
ddf.columns=['연령대1','연령대2','연령대3','연령대4','연령대5','연령대6']


ddf=pd.get_dummies(df[lst[2]])
ddf.columns=['거주1','거주2','거주3','거주4',]
onehot=pd.concat([onehot,ddf],axis=1)    
onehot

,고객번호,성별,연령대,거주지역,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),4번품목구매비율(%),경쟁사이용횟수,멤버쉽보유,...,A제휴사구매비율(%),B제휴사구매비율(%),C제휴사구매비율(%),D번제휴사구매비율(%),성별1,성별2,거주1,거주2,거주3,거주4
0,1,1,5,1,-0.630974,-0.755058,1.078629,-0.835903,3.784157,-0.652472,...,0.367529,-0.340113,0.040420,-0.350180,0,1,0,1,0,0
1,2,1,5,0,-0.525165,-0.394411,0.679567,-0.596377,1.828781,-0.652472,...,0.177409,-0.281131,-0.875067,0.970125,0,1,1,0,0,0
2,3,1,5,0,-0.412574,1.953988,-0.889331,-0.996436,-0.405935,-0.652472,...,0.936198,-0.809546,-0.498028,-0.350180,0,1,1,0,0,0
3,4,0,5,1,-0.649966,-0.817762,1.065689,-0.698940,0.432083,-0.652472,...,-1.177130,1.397840,0.780628,-0.350180,1,0,0,1,0,0
4,6,0,5,3,-0.342034,-0.040554,0.298150,-0.420556,-0.405935,-0.652472,...,-0.457831,-0.248812,1.744034,-0.350180,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,0,1,0,1.087744,0.338465,-0.889331,0.875812,-0.405935,1.068660,...,-2.846467,0.000044,0.368281,6.340700,1,0,1,0,0,0
18862,19334,1,2,3,0.863918,0.802553,-0.889331,0.240687,7.974248,1.068660,...,1.003333,-0.811162,-0.645565,-0.350180,0,1,0,0,0,1
18863,19335,0,2,0,1.249171,0.267773,-0.889331,0.912760,-0.405935,1.068660,...,0.808135,-0.639872,-0.476591,-0.350180,1,0,1,0,0,0
18864,19336,0,2,1,0.427116,-0.637638,0.720444,-0.744170,-0.405935,-0.652472,...,-0.543583,0.845186,-0.875067,0.815422,1,0,0,1,0,0
18865,19337,1,1,1,-0.142625,1.874509,-0.889331,-0.996436,-0.405935,-0.652472,...,0.061192,0.378984,-0.397147,-0.350180,0,1,0,1,0,0

In [42]:
onehot.corr()['분기증감확인']

고객번호            0.000697
성별             -0.010664
연령대            -0.030961
거주지역            0.000018
1번품목구매비율(%)    -0.077652
2번품목구매비율(%)    -0.050620
3번품목구매비율(%)     0.089658
4번품목구매비율(%)    -0.077013
경쟁사이용횟수         0.019390
멤버쉽보유           0.014491
온라인이용횟수         0.017091
1기구매비율(%)      -0.282714
2기구매비율(%)      -0.049685
3기구매비율(%)      -0.048493
4기구매비율(%)       0.028228
5기구매비율(%)      -0.022266
6기구매비율(%)       0.033062
7기구매비율(%)       0.020669
8기구매비율(%)       0.330984
분기증감확인          1.000000
A제휴사구매비율(%)     0.038448
B제휴사구매비율(%)    -0.044507
C제휴사구매비율(%)    -0.047857
D번제휴사구매비율(%)    0.033186
성별1             0.010664
성별2            -0.010664
거주1            -0.033401
거주2             0.050836
거주3             0.002540
거주4            -0.037469
Name: 분기증감확인, dtype: float64

In [150]:
X.columns

Index(['성별1', '성별2', '연령대1', '연령대2', '연령대3', '연령대4', '연령대5', '연령대6', '거주1',
       '거주2', '거주3', '거주4'],
      dtype='object')

In [43]:
# X = df.drop(['고객번호','분기증감확인'],axis=1)
# y=df[['분기증감확인']]
# X = onehot.drop(['1번품목구매비율(%)', '2번품목구매비율(%)', '3번품목구매비율(%)', '4번품목구매비율(%)', '경쟁사이용횟수',
#        '멤버쉽보유', '온라인이용횟수', '1기구매비율(%)', '2기구매비율(%)', '3기구매비율(%)', '4기구매비율(%)',
#        '5기구매비율(%)', '6기구매비율(%)', '7기구매비율(%)', '8기구매비율(%)','고객번호','분기증감확인','성별','연령대','거주지역', '거주1',
#        '거주2', '거주3', '거주4', '연령대1', '연령대2', '연령대3', '연령대4', '연령대5', '연령대6',	'성별1','성별2'],axis=1)

X = onehot.drop(['고객번호','분기증감확인','성별','연령대','거주지역'],axis=1)
y=df[['분기증감확인']]
X

,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),4번품목구매비율(%),경쟁사이용횟수,멤버쉽보유,온라인이용횟수,1기구매비율(%),2기구매비율(%),3기구매비율(%),...,A제휴사구매비율(%),B제휴사구매비율(%),C제휴사구매비율(%),D번제휴사구매비율(%),성별1,성별2,거주1,거주2,거주3,거주4
0,-0.630974,-0.755058,1.078629,-0.835903,3.784157,-0.652472,-0.424659,-0.232993,0.461691,0.002362,...,0.367529,-0.340113,0.040420,-0.350180,0,1,0,1,0,0
1,-0.525165,-0.394411,0.679567,-0.596377,1.828781,-0.652472,-0.424659,-0.443681,-0.682709,0.700460,...,0.177409,-0.281131,-0.875067,0.970125,0,1,1,0,0,0
2,-0.412574,1.953988,-0.889331,-0.996436,-0.405935,-0.652472,-0.424659,-0.519964,-0.001164,0.108594,...,0.936198,-0.809546,-0.498028,-0.350180,0,1,1,0,0,0
3,-0.649966,-0.817762,1.065689,-0.698940,0.432083,-0.652472,-0.424659,-0.616226,0.465938,1.869016,...,-1.177130,1.397840,0.780628,-0.350180,1,0,0,1,0,0
4,-0.342034,-0.040554,0.298150,-0.420556,-0.405935,-0.652472,-0.424659,-0.705224,0.185676,0.609404,...,-0.457831,-0.248812,1.744034,-0.350180,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,1.087744,0.338465,-0.889331,0.875812,-0.405935,1.068660,-0.084953,-0.223912,-0.156157,0.468484,...,-2.846467,0.000044,0.368281,6.340700,1,0,1,0,0,0
18862,0.863918,0.802553,-0.889331,0.240687,7.974248,1.068660,-0.424659,-0.492720,-0.723049,-0.808473,...,1.003333,-0.811162,-0.645565,-0.350180,0,1,0,0,0,1
18863,1.249171,0.267773,-0.889331,0.912760,-0.405935,1.068660,-0.424659,0.113914,0.194169,-0.008478,...,0.808135,-0.639872,-0.476591,-0.350180,1,0,1,0,0,0
18864,0.427116,-0.637638,0.720444,-0.744170,-0.405935,-0.652472,-0.424659,-0.630757,-1.083992,-1.242074,...,-0.543583,0.845186,-0.875067,0.815422,1,0,0,1,0,0
18865,-0.142625,1.874509,-0.889331,-0.996436,-0.405935,-0.652472,-0.424659,-0.828730,-0.005411,-0.168910,...,0.061192,0.378984,-0.397147,-0.350180,0,1,0,1,0,0

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=10)

In [45]:
%%time
dt_clf = DecisionTreeClassifier()
dt_clf.fit(X_train , y_train)
dt_pred = dt_clf.predict(X_test)
print('DecisionTreeClassifier 정확도: {0:.3f}'.format(accuracy_score(y_test, dt_pred)))

rf_clf = RandomForestClassifier()
rf_clf.fit(X_train, y_train)
rf_pred = rf_clf.predict(X_test)
print('RandomForestClassifier 정확도: {0:.3f}'.format(accuracy_score(y_test, rf_pred)))
                                                                  

lr_clf = LogisticRegression()
lr_clf.fit(X_train, y_train)
lr_preds = lr_clf.predict(X_test)
print('LogisticRegression 정확도: {:0.3f}'.format(accuracy_score(y_test, lr_preds)))

lgbm_wrapper = LGBMClassifier(n_estimators=400)
evals = [(X_test,y_test)]
lgbm_wrapper.fit(X_train, y_train, eval_set=evals, verbose=False)
preds = lgbm_wrapper.predict(X_test)
print('lgbm 정확도: {:0.3f}'.format(accuracy_score(y_test, preds)))


evals = [(X_test,y_test)]
xgb_wrapper = XGBClassifier(n_estimators=400, learning_rate=0.1, max_depth=3)
xgb_wrapper.fit(X_train,y_train, early_stopping_rounds = 100, eval_set=evals, eval_metric='logloss', verbose=False)
w_preds = xgb_wrapper.predict(X_test)
print('xgbm 정확도: {:0.3f}'.format(accuracy_score(y_test, w_preds)))


k_model = KNeighborsClassifier(n_neighbors=40)
k_model.fit(X_train,y_train)
k_pred = k_model.predict(X_test)
k_accuracy = accuracy_score(y_test,k_pred)
print('KNN 예측 정확도: {:0.3f}'. format(k_accuracy))


svm_model = svm.SVC(kernel='rbf')
svm_model.fit(X_train, y_train)
svm_pred = svm_model.predict(X_test)
svm_accuracy = accuracy_score(y_test,svm_pred)
print('SVM 예측정확도: {:0.3f}'.format(svm_accuracy))


lr_clf = LogisticRegression()
knn_clf = KNeighborsClassifier(n_neighbors=8)
vo_clf = VotingClassifier( estimators=[('LR',lr_clf),('KNN',knn_clf)] , voting='soft' )
vo_clf.fit(X_train , y_train)
pred = vo_clf.predict(X_test)
print('Voting 분류기 정확도: {0:.3f}'.format(accuracy_score(y_test , pred)))

DecisionTreeClassifier 정확도: 0.637
RandomForestClassifier 정확도: 0.720
LogisticRegression 정확도: 0.708
lgbm 정확도: 0.711
xgbm 정확도: 0.717
KNN 예측 정확도: 0.667
SVM 예측정확도: 0.709
Voting 분류기 정확도: 0.696
Wall time: 28.6 s

In [1]:
import pandas as pd
jedf=pd.read_excel('C:/1차data/제휴사별.xlsx')
jedf

        고객번호 제휴사  구매횟수       총구매액  평균구매액
0          1   A   874   83024104  94993
1          1   B    64     754018  11782
2          1   C   119     994626   8358
3          2   A  1080  101191019  93695
4          2   B    16     207512  12970
...      ...  ..   ...        ...    ...
58626  19382   C     3       6601   2200
58627  19383   A    18    1091172  60621
58628  19383   B    16      54734   3421
58629  19383   C     3       9675   3225
58630  19383   D   223    1148830   5152

[58631 rows x 5 columns]

In [2]:
pjedf = pd.pivot_table(jedf,
                     index = '고객번호', # 행 위치에 들어갈 열
                     columns = '제휴사', # 열 위치에 들어갈 열
                     values = ['구매횟수','총구매액','평균구매액'], # 데이터로 사용할 열
                     aggfunc = 'max') # 데이터 집계 함수
pjedf.to_csv('제휴사.csv',encoding='cp949')

In [3]:
pjedf

         구매횟수                               총구매액                        \
제휴사         A      B       C      D            A          B          C
고객번호
1       874.0   64.0   119.0    NaN   83024104.0   754018.0   994626.0
2      1080.0   16.0     NaN   20.0  101191019.0   207512.0        NaN
3         1.0    2.0  1188.0    NaN      82407.0     7863.0  3160128.0
4       649.0  126.0   155.0    NaN   14582805.0  1629784.0   829658.0
5       711.0    1.0     NaN    7.0   13018618.0    15745.0        NaN
...       ...    ...     ...    ...          ...        ...        ...
19379    33.0   29.0    22.0  500.0    1847757.0   324661.0    57121.0
19380     3.0    7.0    42.0  388.0      43212.0    66258.0   134049.0
19381     5.0  791.0     9.0    NaN     401711.0  5747363.0    21970.0
19382     4.0  899.0     3.0    NaN     184724.0  4227018.0     6601.0
19383    18.0   16.0     3.0  223.0    1091172.0    54734.0     9675.0

                    평균구매액
제휴사            D        A        B       C        D
고객번호
1            NaN  94993.0  11782.0  8358.0      NaN
2       234491.0  93695.0  12970.0     NaN  11725.0
3            NaN  82407.0   3932.0  2660.0      NaN
4            NaN  22470.0  12935.0  5353.0      NaN
5        42449.0  18310.0  15745.0     NaN   6064.0
...          ...      ...      ...     ...      ...
19379  3411639.0  55993.0  11195.0  2596.0   6823.0
19380  3308377.0  14404.0   9465.0  3192.0   8527.0
19381        NaN  80342.0   7266.0  2441.0      NaN
19382        NaN  46181.0   4702.0  2200.0      NaN
19383  1148830.0  60621.0   3421.0  3225.0   5152.0

[19383 rows x 12 columns]

In [4]:
pjedf

         구매횟수                               총구매액                        \
제휴사         A      B       C      D            A          B          C
고객번호
1       874.0   64.0   119.0    NaN   83024104.0   754018.0   994626.0
2      1080.0   16.0     NaN   20.0  101191019.0   207512.0        NaN
3         1.0    2.0  1188.0    NaN      82407.0     7863.0  3160128.0
4       649.0  126.0   155.0    NaN   14582805.0  1629784.0   829658.0
5       711.0    1.0     NaN    7.0   13018618.0    15745.0        NaN
...       ...    ...     ...    ...          ...        ...        ...
19379    33.0   29.0    22.0  500.0    1847757.0   324661.0    57121.0
19380     3.0    7.0    42.0  388.0      43212.0    66258.0   134049.0
19381     5.0  791.0     9.0    NaN     401711.0  5747363.0    21970.0
19382     4.0  899.0     3.0    NaN     184724.0  4227018.0     6601.0
19383    18.0   16.0     3.0  223.0    1091172.0    54734.0     9675.0

                    평균구매액
제휴사            D        A        B       C        D
고객번호
1            NaN  94993.0  11782.0  8358.0      NaN
2       234491.0  93695.0  12970.0     NaN  11725.0
3            NaN  82407.0   3932.0  2660.0      NaN
4            NaN  22470.0  12935.0  5353.0      NaN
5        42449.0  18310.0  15745.0     NaN   6064.0
...          ...      ...      ...     ...      ...
19379  3411639.0  55993.0  11195.0  2596.0   6823.0
19380  3308377.0  14404.0   9465.0  3192.0   8527.0
19381        NaN  80342.0   7266.0  2441.0      NaN
19382        NaN  46181.0   4702.0  2200.0      NaN
19383  1148830.0  60621.0   3421.0  3225.0   5152.0

[19383 rows x 12 columns]

In [5]:
pjedf['평균구매액']

제휴사          A        B       C        D
고객번호
1      94993.0  11782.0  8358.0      NaN
2      93695.0  12970.0     NaN  11725.0
3      82407.0   3932.0  2660.0      NaN
4      22470.0  12935.0  5353.0      NaN
5      18310.0  15745.0     NaN   6064.0
...        ...      ...     ...      ...
19379  55993.0  11195.0  2596.0   6823.0
19380  14404.0   9465.0  3192.0   8527.0
19381  80342.0   7266.0  2441.0      NaN
19382  46181.0   4702.0  2200.0      NaN
19383  60621.0   3421.0  3225.0   5152.0

[19383 rows x 4 columns]

In [6]:
pjedf.fillna(0,inplace=True)
lst=[' ','A','B','C','D']
for i in range(1,5):
    pjedf[f'{lst[i]}번제휴사구매비율(%)']=round(pjedf['평균구매액'][lst[i]]/pjedf['평균구매액'].sum(axis=1)*100,2)
pjedf

         구매횟수                               총구매액                        \
제휴사         A      B       C      D            A          B          C
고객번호
1       874.0   64.0   119.0    0.0   83024104.0   754018.0   994626.0
2      1080.0   16.0     0.0   20.0  101191019.0   207512.0        0.0
3         1.0    2.0  1188.0    0.0      82407.0     7863.0  3160128.0
4       649.0  126.0   155.0    0.0   14582805.0  1629784.0   829658.0
5       711.0    1.0     0.0    7.0   13018618.0    15745.0        0.0
...       ...    ...     ...    ...          ...        ...        ...
19379    33.0   29.0    22.0  500.0    1847757.0   324661.0    57121.0
19380     3.0    7.0    42.0  388.0      43212.0    66258.0   134049.0
19381     5.0  791.0     9.0    0.0     401711.0  5747363.0    21970.0
19382     4.0  899.0     3.0    0.0     184724.0  4227018.0     6601.0
19383    18.0   16.0     3.0  223.0    1091172.0    54734.0     9675.0

                    평균구매액                           A번제휴사구매비율(%) B번제휴사구매비율(%)  \
제휴사            D        A        B       C        D
고객번호
1            0.0  94993.0  11782.0  8358.0      0.0        82.51        10.23
2       234491.0  93695.0  12970.0     0.0  11725.0        79.14        10.96
3            0.0  82407.0   3932.0  2660.0      0.0        92.59         4.42
4            0.0  22470.0  12935.0  5353.0      0.0        55.13        31.74
5        42449.0  18310.0  15745.0     0.0   6064.0        45.64        39.25
...          ...      ...      ...     ...      ...          ...          ...
19379  3411639.0  55993.0  11195.0  2596.0   6823.0        73.09        14.61
19380  3308377.0  14404.0   9465.0  3192.0   8527.0        40.47        26.60
19381        0.0  80342.0   7266.0  2441.0      0.0        89.22         8.07
19382        0.0  46181.0   4702.0  2200.0      0.0        87.00         8.86
19383  1148830.0  60621.0   3421.0  3225.0   5152.0        83.71         4.72

      C번제휴사구매비율(%) D번제휴사구매비율(%)
제휴사
고객번호
1             7.26         0.00
2             0.00         9.90
3             2.99         0.00
4            13.13         0.00
5             0.00        15.12
...            ...          ...
19379         3.39         8.91
19380         8.97        23.96
19381         2.71         0.00
19382         4.14         0.00
19383         4.45         7.11

[19383 rows x 16 columns]

In [7]:
jdf=pjedf.drop(['구매횟수','총구매액','평균구매액'],axis=1)
jdf.columns=['A제휴사구매비율(%)','B제휴사구매비율(%)','C제휴사구매비율(%)','D번제휴사구매비율(%)']
jdf

       A제휴사구매비율(%)  B제휴사구매비율(%)  C제휴사구매비율(%)  D번제휴사구매비율(%)
고객번호
1            82.51        10.23         7.26          0.00
2            79.14        10.96         0.00          9.90
3            92.59         4.42         2.99          0.00
4            55.13        31.74        13.13          0.00
5            45.64        39.25         0.00         15.12
...            ...          ...          ...           ...
19379        73.09        14.61         3.39          8.91
19380        40.47        26.60         8.97         23.96
19381        89.22         8.07         2.71          0.00
19382        87.00         8.86         4.14          0.00
19383        83.71         4.72         4.45          7.11

[19383 rows x 4 columns]

In [10]:
df=pd.merge(df,jdf, on='고객번호',how='left')
df

,고객번호,성별,연령대,거주지역,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),4번품목구매비율(%),경쟁사이용횟수,멤버쉽보유,...,4기구매비율(%),5기구매비율(%),6기구매비율(%),7기구매비율(%),8기구매비율(%),분기증감확인,A제휴사구매비율(%),B제휴사구매비율(%),C제휴사구매비율(%),D번제휴사구매비율(%)
0,1,1,5,1,2.86,27.70,66.92,2.52,15.0,0.0,...,14.90,8.43,10.15,18.56,8.65,0,82.51,10.23,7.26,0.00
1,2,1,5,0,3.64,36.73,53.35,6.28,8.0,0.0,...,6.49,17.57,11.73,16.87,11.36,0,79.14,10.96,0.00,9.90
2,3,1,5,0,4.47,95.53,0.00,0.00,0.0,0.0,...,11.11,14.96,11.62,15.71,10.56,0,92.59,4.42,2.99,0.00
3,4,0,5,1,2.72,26.13,66.48,4.67,3.0,0.0,...,12.53,9.71,9.85,13.69,8.39,0,55.13,31.74,13.13,0.00
4,6,0,5,3,4.99,45.59,40.38,9.04,0.0,0.0,...,11.16,12.32,14.81,13.86,9.64,1,67.88,11.36,20.77,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,0,1,0,15.53,55.08,0.00,29.39,0.0,1.0,...,7.99,13.80,15.52,13.97,10.12,0,25.54,14.44,9.86,50.17
18862,19334,1,2,3,13.88,66.70,0.00,19.42,30.0,1.0,...,11.36,11.80,7.81,27.53,12.94,0,93.78,4.40,1.82,0.00
18863,19335,0,2,0,16.72,53.31,0.00,29.97,0.0,1.0,...,9.74,10.97,17.91,11.52,9.94,1,90.32,6.52,3.16,0.00
18864,19336,0,2,1,10.66,30.64,54.74,3.96,0.0,0.0,...,11.51,7.79,19.75,23.40,13.44,1,66.36,24.90,0.00,8.74
18865,19337,1,1,1,6.46,93.54,0.00,0.00,0.0,0.0,...,14.14,13.50,11.38,15.87,12.07,1,77.08,19.13,3.79,0.00

df1=pd.read_csv('C:/1차data/매출횟수등급2.csv',encoding='cp949')
df2=pd.read_csv('C:/1차data/분류코드등급수정.csv',encoding='utf-8')

display(df1)
display(df2)
# display(df3)

In [27]:
df1.columns
df1=df1[['고객번호', '1기구매등급', '2기구매등급', '3기구매등급', '4기구매등급', '5기구매등급',
       '6기구매등급', '7기구매등급', '8기구매등급', '1기구매횟수', '2기구매횟수', '3기구매횟수', '4기구매횟수',
       '5기구매횟수', '6기구매횟수', '7기구매횟수', '8기구매횟수']]
df1

,고객번호,1기구매등급,2기구매등급,3기구매등급,4기구매등급,5기구매등급,6기구매등급,7기구매등급,8기구매등급,1기구매횟수,2기구매횟수,3기구매횟수,4기구매횟수,5기구매횟수,6기구매횟수,7기구매횟수,8기구매횟수
0,1,1,1,1,1,2,2,2,3,121,117,142,214,172,140,73,78
1,2,1,1,1,2,1,2,1,1,184,155,139,132,145,116,126,119
2,3,10,10,10,10,10,10,10,10,139,209,246,145,87,133,139,93
3,4,7,3,5,6,7,6,5,7,93,177,85,87,122,141,118,107
4,6,5,4,4,4,4,4,3,4,192,192,178,187,237,160,228,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,10,9,10,10,10,10,10,10,111,170,90,107,132,81,43,90
18862,19334,9,4,4,5,7,10,10,10,132,497,495,355,235,170,32,48
18863,19335,9,4,5,6,5,4,7,6,95,295,274,256,279,235,209,230
18864,19336,10,4,4,3,4,4,2,3,8,78,80,76,63,33,51,51
18865,19337,10,10,10,10,10,10,8,8,7,21,193,169,141,219,304,267

In [28]:
df=pd.merge(df,df1, on='고객번호',how='left')
df

,고객번호,성별,연령대,거주지역,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),4번품목구매비율(%),경쟁사이용횟수,멤버쉽보유,...,7기구매등급,8기구매등급,1기구매횟수,2기구매횟수,3기구매횟수,4기구매횟수,5기구매횟수,6기구매횟수,7기구매횟수,8기구매횟수
0,1,1,5,1,2.86,27.70,66.92,2.52,15.0,0.0,...,2,3,121,117,142,214,172,140,73,78
1,2,1,5,0,3.64,36.73,53.35,6.28,8.0,0.0,...,1,1,184,155,139,132,145,116,126,119
2,3,1,5,0,4.47,95.53,0.00,0.00,0.0,0.0,...,10,10,139,209,246,145,87,133,139,93
3,4,0,5,1,2.72,26.13,66.48,4.67,3.0,0.0,...,5,7,93,177,85,87,122,141,118,107
4,6,0,5,3,4.99,45.59,40.38,9.04,0.0,0.0,...,3,4,192,192,178,187,237,160,228,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,0,1,0,15.53,55.08,0.00,29.39,0.0,1.0,...,10,10,111,170,90,107,132,81,43,90
18862,19334,1,2,3,13.88,66.70,0.00,19.42,30.0,1.0,...,10,10,132,497,495,355,235,170,32,48
18863,19335,0,2,0,16.72,53.31,0.00,29.97,0.0,1.0,...,7,6,95,295,274,256,279,235,209,230
18864,19336,0,2,1,10.66,30.64,54.74,3.96,0.0,0.0,...,2,3,8,78,80,76,63,33,51,51
18865,19337,1,1,1,6.46,93.54,0.00,0.00,0.0,0.0,...,8,8,7,21,193,169,141,219,304,267

In [29]:
df=pd.merge(df,df2, on='고객번호',how='left')
df

,고객번호,성별,연령대,거주지역,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),4번품목구매비율(%),경쟁사이용횟수,멤버쉽보유,...,7기구매횟수,8기구매횟수,편의품구매횟수,선매품구매횟수,전문품구매횟수,기타구매횟수,편의품구매등급,선매품구매등급,전문품구매등급,기타구매등급
0,1,1,5,1,2.86,27.70,66.92,2.52,15.0,0.0,...,73,78,674,325,1,57,2,1,3,3
1,2,1,5,0,3.64,36.73,53.35,6.28,8.0,0.0,...,126,119,801,289,5,21,1,1,2,4
2,3,1,5,0,4.47,95.53,0.00,0.00,0.0,0.0,...,139,93,1189,2,0,0,10,10,7,10
3,4,0,5,1,2.72,26.13,66.48,4.67,3.0,0.0,...,118,107,731,137,1,61,8,4,4,4
4,6,0,5,3,4.99,45.59,40.38,9.04,0.0,0.0,...,228,219,1337,195,6,55,4,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,0,1,0,15.53,55.08,0.00,29.39,0.0,1.0,...,43,90,679,8,0,137,10,10,7,3
18862,19334,1,2,3,13.88,66.70,0.00,19.42,30.0,1.0,...,32,48,1901,47,0,16,4,8,7,8
18863,19335,0,2,0,16.72,53.31,0.00,29.97,0.0,1.0,...,209,230,1576,141,0,156,3,7,7,2
18864,19336,0,2,1,10.66,30.64,54.74,3.96,0.0,0.0,...,51,51,57,198,5,180,10,3,3,1
18865,19337,1,1,1,6.46,93.54,0.00,0.00,0.0,0.0,...,304,267,1311,10,0,0,9,10,10,10

In [30]:
df3=pd.read_csv('C:/1차data/제휴사수정최종.csv',encoding='cp949')
df3

        고객번호  A_구매횟수  B_구매횟수  C_구매횟수  D_구매횟수  A_총구매액  B_총구매액  C_총구매액  D_총구매액
0          1   874.0    64.0   119.0     0.0     1.0     7.0     3.0     4.0
1          2  1080.0    16.0     0.0    20.0     1.0     8.0    10.0     1.0
2          3     1.0     2.0  1188.0     0.0    10.0    10.0     3.0     8.0
3          4   649.0   126.0   155.0     0.0     4.0     6.0     4.0     8.0
4          6   361.0  1193.0    39.0     0.0     4.0     3.0     4.0     8.0
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
18861  19333   427.0   302.0    11.0    84.0     6.0     7.0     7.0     1.0
18862  19334     3.0  1674.0   287.0     0.0     8.0     2.0     4.0     5.0
18863  19335    10.0  1496.0   367.0     0.0     7.0     2.0     3.0     5.0
18864  19336   434.0     1.0     0.0     5.0     3.0    10.0     9.0     1.0
18865  19337     5.0    11.0  1305.0     0.0     9.0     8.0     3.0    10.0

[18866 rows x 9 columns]

In [31]:
df=pd.merge(df,df3, on='고객번호',how='left')
df

,고객번호,성별,연령대,거주지역,1번품목구매비율(%),2번품목구매비율(%),3번품목구매비율(%),4번품목구매비율(%),경쟁사이용횟수,멤버쉽보유,...,전문품구매등급,기타구매등급,A_구매횟수,B_구매횟수,C_구매횟수,D_구매횟수,A_총구매액,B_총구매액,C_총구매액,D_총구매액
0,1,1,5,1,2.86,27.70,66.92,2.52,15.0,0.0,...,3,3,874.0,64.0,119.0,0.0,1.0,7.0,3.0,4.0
1,2,1,5,0,3.64,36.73,53.35,6.28,8.0,0.0,...,2,4,1080.0,16.0,0.0,20.0,1.0,8.0,10.0,1.0
2,3,1,5,0,4.47,95.53,0.00,0.00,0.0,0.0,...,7,10,1.0,2.0,1188.0,0.0,10.0,10.0,3.0,8.0
3,4,0,5,1,2.72,26.13,66.48,4.67,3.0,0.0,...,4,4,649.0,126.0,155.0,0.0,4.0,6.0,4.0,8.0
4,6,0,5,3,4.99,45.59,40.38,9.04,0.0,0.0,...,4,5,361.0,1193.0,39.0,0.0,4.0,3.0,4.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18861,19333,0,1,0,15.53,55.08,0.00,29.39,0.0,1.0,...,7,3,427.0,302.0,11.0,84.0,6.0,7.0,7.0,1.0
18862,19334,1,2,3,13.88,66.70,0.00,19.42,30.0,1.0,...,7,8,3.0,1674.0,287.0,0.0,8.0,2.0,4.0,5.0
18863,19335,0,2,0,16.72,53.31,0.00,29.97,0.0,1.0,...,7,2,10.0,1496.0,367.0,0.0,7.0,2.0,3.0,5.0
18864,19336,0,2,1,10.66,30.64,54.74,3.96,0.0,0.0,...,3,1,434.0,1.0,0.0,5.0,3.0,10.0,9.0,1.0
18865,19337,1,1,1,6.46,93.54,0.00,0.00,0.0,0.0,...,10,10,5.0,11.0,1305.0,0.0,9.0,8.0,3.0,10.0

In [34]:
res=df[['고객번호', '성별', '연령대', '거주지역','경쟁사이용횟수', '멤버쉽보유', '온라인이용횟수','1번품목구매비율(%)', '2번품목구매비율(%)',
       '3번품목구매비율(%)', '4번품목구매비율(%)','편의품구매횟수', '선매품구매횟수', '전문품구매횟수', '기타구매횟수', '편의품구매등급', '선매품구매등급',
       '전문품구매등급', '기타구매등급','1기구매비율(%)', '2기구매비율(%)', '3기구매비율(%)', '4기구매비율(%)', '5기구매비율(%)',
       '6기구매비율(%)', '7기구매비율(%)', '8기구매비율(%)','1기구매등급', '2기구매등급',
       '3기구매등급', '4기구매등급', '5기구매등급', '6기구매등급', '7기구매등급', '8기구매등급', '1기구매횟수',
       '2기구매횟수', '3기구매횟수', '4기구매횟수', '5기구매횟수', '6기구매횟수', '7기구매횟수', '8기구매횟수','A제휴사구매비율(%)',
       'B제휴사구매비율(%)', 'C제휴사구매비율(%)', 'D번제휴사구매비율(%)','A_구매횟수', 'B_구매횟수', 'C_구매횟수', 'D_구매횟수', 'A_총구매액',
       'B_총구매액', 'C_총구매액', 'D_총구매액','분기증감확인']]
res.to_csv('3.22.csv',encoding='cp949')